btn btn-outline-light btn-social mx-1@charset "UTF-8";

/*.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}*/

body {
  font-family: "Hirago KakuGothic ProN";

}

li {
  list-style: none;
  font-size: 20px;
}

.header {
  background-color: #303952;
  color: white;   
  height: 90px;
  font-family: "Calibri";

}

.header-logo {
    float: left;
    margin-left: 100px;
    font-size: 30px;
    padding: 30px 40px;
}

.header-list ul {
    margin-right: 100px;
}
.header-list li {
  font-weight: bold;
  float: right;
  padding: 33px 20px;
}

.main-section{
  padding: 5px 20px;
  background-color: #f7d794;
  height: 510px;
}

.copy-container h1 {
  font-size: 45px;
}

.copy-container h2 {
  font-size: 35px;
}

.main-section-logo {
  text-align: center; 
  margin-top: none;

}
.copy-container  {
  margin-top: none;  
    
}

.contents {
  height: 800px;
}

.section-title {
  text-align: center;
  font-size: 40px;
 /* padding-bottom: 15px;
  margin-bottom: 50px;*/
}

.contents-item {
  float: left;
  margin-left: 160px;
  
}

.contents-item p {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.contact-form  {
  height: 700px;
  padding-top: 10px;
  background-color: #f7d794;
  
}

.contact-form p{
  font-size:18px;
  color:#2f3542;
  margin-left: 300px;
  
}

.contact-submit {
  background-color:#303952;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
}

.section-input {
   margin-left: 300px;
   width: 600px;
   height: 1px;
   padding: 20px;
   font-size: 20px;
   border: 1px solid #dee7ec;
}

.section-input-area{
   margin-left: 300px;
   width: 600px;
   height: 30px;
   padding: 20px;
   font-size: 20px;
   border: 1px solid #dee7ec;
}
a {
  width:200px;
  padding:20px;
  font-size:18px;
  border:1px solid #fdcb6e;

}


.button-daftar{
  background-color:#303952;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
   0%   {background-color: #303952;}
  10%  {background-color: #FFC312;}
  20%  {background-color: #303952;}
  30% {background-color: #FFC312;}
  40% {background-color: #303952}
  50% {background-color: #FFC312;}
  60%   {background-color: #303952;}
  60%  {background-color: #FFC312;}
  80%  {background-color: #303952;}
  90% {background-color: #FFC312;}
  100% {background-color: #303952}
}


.footer {
  background-color:#303952;
  color: #fff;
  height: 100px;
  padding-bottom: 100px;
  font-family: "Calibri";
}

.footer-logo {
  margin-top: 80px;
  margin-left: 100px; 
  float: left;
  font-size: 32px;
}

.footer-list-1 {
  float: left;
  margin-left: 200px;
  margin-top: 20px;
  font-size: 12px;
}
.footer-list-2 {
  float: left;
  margin-left: 80px;
  margin-top: 20px;
  font-size: 12px;
}

.footer-list-3 {
  float: left;
  margin-left: 80px;
  margin-top: 20px;
  font-size: 12px;
}

.judul {
  font-size: 23px;
 font-weight: bold;

}

.footer-list-1 li {
  padding-bottom: 15px;
}

.footer-list-2 li {
  padding-bottom: 15px;
}

.footer-list-3 li {
  padding-bottom: 15px;
}

